*
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Palatino Linotype', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url('beach.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 400px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
    margin-top: 2rem; 
}


h1 {
    margin: 20px 5;
    color: #cbc7c7a1;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 4px 4px 6px rgba(245, 244, 244, 0.4);
}

.btn {
    background-color:  rgba(255, 255, 255, 0.3);
    border: #5b5c5d;
    color: #070A0d;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.btn:hover {
    background-color: #b7b9b6; 
}

.form-control, .form-select {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control:focus, .form-select:focus {
    border-color: #2f3744;
    box-shadow: 0 0 0 0.2rem rgba(104, 120, 139, 0.25);
    outline: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .container {
        width: 95%;
        padding: 15px;
    }
}

.form-label {
    color: #070A0d;
    font-size: 1rem;
    text-shadow: 6px 6px 8px rgba(15, 14, 14, 0.8);
}

.result-text {
    color: #070a0d;
    font-weight: bold;
}